@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Begin Top nav -->
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="">Management System</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <!-- Navbar-->

    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-flex flex-sm-row-reverse">
        <div class=" text-primary">
            <partial name="_LoginPartial.cshtml" />
        </div>
    </div>
</nav>
<!-- End Top nav -->