@model CartViewModel
@{
    ViewData["Title"] = "Checkout";
    float sum = 20000;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <form asp-controller="Cart" asp-action="Order">
            <div class="row px-xl-5">
                <div class="col-lg-4">
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Order Total & Payment</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="font-weight-medium mb-3">Products</h5>
                            @for (int i = 0; i < Model.CartItem.Count; i++)
                            {
                                var a = Model.CartItem[i];
                                var b = Model.Quantity[i];
                                <div class="d-flex justify-content-between">
                                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 150px;">@a.DishName</p>
                                    <p>Price: @a.Price</p>
                                    <p>SL: @b</p>
                                </div>
                            }
                            <hr class="mt-0">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Shipping</h6>
                                <h6 class="font-weight-medium">20.000 VND</h6>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Total</h5>
                                <h5 class="font-weight-bold">
                                    @for (int i = 0; i < Model.CartItem.Count; i++)
                                    {
                                        sum += (float)Model.CartItem[i].Price * (float)Model.Quantity[i];
                                    }
                                    @sum VND
                                </h5>
                                <input class="form-control" type="hidden" name="Total" value="@sum">
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Checkout End -->
</body>

</html>